.mentorship-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mentorship-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #f58b28;
}
.mentorship-navbar-interactive {
  width: 90%;
  display: flex;
  position: sticky;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.mentorship-logo {
  font-size: 2em;
  font-family: "Lato";
  font-weight: bold;
  text-decoration: none;
}
.mentorship-text1 {
  text-transform: uppercase;
}
.mentorship-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.mentorship-nav1 {
  top: -12px;
  left: -135px;
  position: absolute;
  transition: 0.3s;
  font-weight: 800;
  text-decoration: none;
}
.mentorship-nav1:hover {
  color: #3d6e70ff;
}
.mentorship-text2 {
  font-size: 24px;
}
.mentorship-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.mentorship-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.mentorship-burger-menu {
  display: none;
}
.mentorship-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.mentorship-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.mentorship-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mentorship-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.mentorship-logo1 {
  font-size: 2em;
  font-weight: bold;
}
.mentorship-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mentorship-icon02 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.mentorship-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.mentorship-nav11 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.mentorship-nav2 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.mentorship-nav3 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.mentorship-nav4 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.mentorship-nav5 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.mentorship-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.mentorship-login {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
}
.mentorship-register {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.mentorship-register:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.mentorship-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.mentorship-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.mentorship-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.mentorship-link {
  display: contents;
}
.mentorship-pasted-image {
  top: 260px;
  left: 361px;
  width: 555px;
  height: 354px;
  margin: auto;
  position: absolute;
  text-decoration: none;
}
.mentorship-text4 {
  top: 351px;
  left: 1026px;
  position: absolute;
  font-size: 60px;
  font-family: "Lato";
  font-weight: 900;
}
.mentorship-link1 {
  display: contents;
}
.mentorship-pasted-image1 {
  top: 516px;
  left: 930px;
  width: 563px;
  height: 367px;
  position: absolute;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .mentorship-pasted-image {
    top: 286px;
    left: 110px;
    width: 598px;
    height: 357px;
  }
  .mentorship-text4 {
    top: 311px;
    left: 809px;
    font-size: 60px;
    font-style: italic;
    font-family: Lato;
    font-weight: 700;
  }
  .mentorship-pasted-image1 {
    top: 513px;
    left: 728px;
    width: 597px;
    height: 343px;
  }
}
@media(max-width: 1200px) {
  .mentorship-pasted-image {
    top: 191px;
    left: 581px;
    width: 514px;
    height: 294px;
    position: absolute;
  }
  .mentorship-text4 {
    top: 640px;
    left: 784px;
  }
  .mentorship-pasted-image1 {
    left: 101px;
    width: 539px;
    bottom: 104px;
    height: 346px;
    position: absolute;
  }
}
@media(max-width: 767px) {
  .mentorship-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .mentorship-desktop-menu {
    display: none;
  }
  .mentorship-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mentorship-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .mentorship-nav11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .mentorship-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .mentorship-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .mentorship-nav4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .mentorship-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .mentorship-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
  }
  .mentorship-logo {
    font-size: 1.5em;
  }
  .mentorship-mobile-menu {
    padding: 16px;
  }
  .mentorship-logo1 {
    font-size: 1.5em;
  }
  .mentorship-icon02 {
    fill: var(--dl-color-gray-900);
  }
}
